<div class="parties-container">
  <header class="parties-header">
    <div class="option" (click)="showSection('parties')">Parties</div>
    <button mat-mini-fab (click)="openAddPartyDialog()">
      <mat-icon>add</mat-icon>
    </button>
     
  </header>


  <!-- Main content area -->
  <div class="parties-content">
    <div [ngClass]="selectedParty ? 'left-section' : 'left-section-alone'">
      
      <div class="search-bar">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>Search</mat-label>
          <input  matInput type="text" placeholder="" (input)="filterParties($event)">
          <!-- <button mat-button>search</button> -->
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="party-items">
        <div class="party-item" *ngFor="let party of filteredParties | paginate: {itemsPerPage:itemsPerPage,currentPage:p}">
          <div class="item-info">
            <span>{{ party.name }}</span>
          </div>
          <div class="options">
            <mat-icon (click)="openEditDialog(party)">edit</mat-icon>
            <mat-icon (click)="deleteParty(party)">delete</mat-icon>
          </div>
        </div>
      </div>
      <div class="pagination-container">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>  
      </div>

    <div class="product-details" *ngIf="selectedParty">
      <h2>{{ selectedParty.name }}</h2>
      <p>Phone: {{ selectedParty.phone }}</p>
      <p>Email: {{ selectedParty.email }}</p>
      <p>Address: {{ selectedParty.address }}</p>
      <button mat-button  (click)="openEditDialog(selectedParty)">Adjust Party</button>
    </div>
  </div>
</div>