.parties-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 650px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 2px solid #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}



.parties-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
}

.option {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  color: #007bff;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.option:hover {
  border-bottom-color: #007bff;
}

.parties-content {
  display: flex;
  flex: 1;
  gap: 20px;
}

.left-section {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.add-party {
  display: flex;
  justify-content: flex-end;
}

.add-party button {
  background-color: #3f51b5;
  color: white;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
  display: flex; 
  align-items: center; 
}

.add-party button mat-icon {
  margin-right: 0.5rem;
}



.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.search-field {
  display: flex;
  width: 100%;
  max-width: 700px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-field input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none; 
}

.search-field button { 
  padding: 0 20px; 
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.search-field button:hover {
  background-color: #0056b3; 
}


.party-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.party-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background-color: #fafafa;
  transition: background-color 0.3s ease;
}

.party-item:hover {
  background-color: #f0f0f0;
}

.item-info {
  font-size: 18px;
  font-weight: 500;
}

.options {
  display: flex;
  gap: 10px;
}

.product-details {
  flex: 1;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-details button {
  background-color: #3f51b5;
  color: white;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer;
  display: flex; 
  align-items: center;
}

.product-details button mat-icon {
  margin-right: 0.5rem;
}

h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

.icon {
  margin-right: 8px;
}
