<div class="add-item-container">
  <h2>Add Item</h2>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input type="text" id="itemName" [(ngModel)]="itemName" name="itemName" required>
    </div>
    <!-- <div class="form-group">
      <label for="category">Category</label>
      <select id="category" [(ngModel)]="category" name="category" required>
        <option value="category1">Category 1</option>
        <option value="category2">Category 2</option>
        <option value="category3">Category 3</option>
        Add more options as needed -->
      <!-- </select>
    </div> -->

    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" id="category" [(ngModel)]="category" name="category" required>
    </div>

    <div class="form-group">
      <label for="salePrice">Sale Price</label>
      <input type="number" step="0.01" id="salePrice" [(ngModel)]="salePrice" name="salePrice" required>
    </div>
    <div class="form-group">
      <label for="taxRate">Tax Rate</label>
      <input type="number" step="0.01" id="taxRate" [(ngModel)]="taxRate" name="taxRate">
    </div>
    <div class="form-group">
      <label for="stock">Stock</label>
      <input type="number" id="stock" [(ngModel)]="stock" name="stock">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-secondary" (click)="selectUnit()">Select Unit</button>
      <button type="button" class="btn btn-secondary" (click)="addItemImage()">Add Item Image <i class="fas fa-image"></i></button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Item</button>
    </div>
  </form>
</div>
