
  <div class="invoice-container">
    <header class="invoice-header">
      <div class="company-details">
        <h1><strong>{{company_name}}</strong></h1>
        <p>Phone no.: {{phone}}</p>
      </div>
      <!-- <div class="invoice-title">
        <h2>Tax Invoice</h2>
      </div> -->
    </header>

    <div class="invoice-details">
      <div >
        <p><strong>Bill To</strong></p>
        <p><strong>{{ billDetails.bill.customer_name }}</strong></p>
      </div>
      <div class="bill-info">
        <p><strong>Bill Details</strong></p>
        <p>Bill No.: {{ billDetails.bill.bill_id }}</p>
        <p>Date: 27-06-2024</p>
      </div>
    </div>

    <table class="invoice-table">
      <thead>
        <tr>
         
          <th>Item Name</th>
          
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Tax</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of billDetails.items">
          
          <td>{{ item.name }}</td>
          
          <td>{{ item.quantity }}</td>
         
          
          <td>₹ {{ item.sale_price | number:'1.2-2' }}</td>
          <td>₹ {{ (item.tax_rate / 100) * item.taxable_amount | number:'1.2-2' }}</td>
          <td>₹ {{ calculateTotal(item) | number:'1.2-2' }}</td>
        </tr>
        <!-- <tr>
          
          <td>Total</td>
          <td>₹ 27.59</td>
          <td>₹ 40.56</td>
          <td>₹ 1,392.58</td>
        </tr> -->
        
      </tbody>
    </table>

    

    <div class="invoice-totals">
      <div class="totals-container">
        <div class="total-row">
          <span class="label">Sub Total</span>
          <span class="value">₹ {{ billDetails.bill.subtotal }}</span>
        </div>
        <div class="total-row">
          <span class="label">Discount</span>
          <span class="value">₹ {{ billDetails.bill.discount }}</span>
        </div>
        <div class="total-row">
          <span class="label">Tax</span>
          <span class="value">₹ {{ billDetails.bill.total_tax }}</span>
        </div>
        <div class="total-row total">
          <span class="label">Total</span>
          <span class="value">₹ {{ billDetails.bill.total_amount }}</span>
        </div>
        <div class="total-row">
          <span class="label">Payment Mode</span>
          <span class="value">{{ billDetails.bill.payment_mode }}</span>
        </div>
        <div class="total-row">
          <span class="label">Received</span>
          <span class="value">₹ {{ billDetails.bill.amount_received }}</span>
        </div>
      </div>
    </div>
    
  </div>