.bill-container {
  max-width: 500px; 
  margin: 0 auto;
  padding: 10px; 
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 10px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.company-details {
  flex: 1;
  h5 {
    font-size: 16px;
    margin: 5px 0;
  }
  h6 {
    font-size: 12px;
    margin: 3px 0;
  }
}

.bill-info {
  margin-bottom: 15px; 
}

.bill-info-row {
  display: flex;
  justify-content:space-between;
  margin-bottom: 5px; 
}

.bill-info-row-s {
  display: flex;
  justify-content:right;
  margin-bottom: 5px; 
}

.bill-info-row-b {
  display: flex;
  justify-content:left;
  margin-bottom: 5px; 
}

.label {
  font-weight: bold;
  color: #555;
}

.value {
  color: #000;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

.items-table th, .items-table td {
  padding: 6px; 
  border: 1px solid #ddd;
  text-align: center;
}

.items-table th {
  background-color: #f2f2f2;
  color: #333;
}

.items-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.items-table tr:hover {
  background-color: #f1f1f1;
}

.items-table td {
  color: #555;
}

.print-button {
  // display: block;
  // width: 80px; 
  // margin: 10px auto; 
  // padding: 8px 16px; 
  // background-color: #007bff;
  // color: white;
  // border: none;
  // border-radius: 5px;
  // cursor: pointer;
  // font-size: 14px; 
}

.print-button:hover {
  // background-color: #0056b3;
}

@media print {
  
  button {
      display: none;
  }
}
