.invoice-container {
  margin: 20px;
  padding: 20px;
  background: #fff;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.invoice-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #948fe3;
  padding-bottom: 2px;
  margin-bottom: 20px;
}

.company-details {
  h1 {
    margin: 0;
    font-size: 24px;
    
  }

  p {
    margin: 5px 0 0;
    
  }
}

.invoice-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  

  div {
    p {
      margin: 0;
      
    }

    strong {
      
      margin-bottom: 10px;
      display: block;
    }
  }
  .bill-info {
    
    text-align: right;
  }
}


.invoice-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-bottom: 3px solid #948fe3;


  th, td {
    padding: 10px;
    
    text-align: left;
  }

  th {
    background: #948fe3;
    color: #fff;
  }

 

  .total {
    font-weight: bold;
  }
}

.invoice-totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;

  .totals-container {
    width: 50%;
    
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    

    &.total {
      font-weight: bold;
      // background: #948fe3;
      // color: #fff;
      // padding: 5px;
      border-radius: 4px;
    }

    .label {
      margin-right: 10px;
    }

    .value {
      margin-left: auto;
    }
  }
}
