.bill-container {
  max-width: 800px;
  margin: 0px auto; 
  padding: 10px;
  background: #fff;
  justify-content: center;
  border-radius: 8px;
}

.bill-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #948fe3;
  padding-bottom: 2px;
  margin-bottom: 10px;
}

.company-details {
  h1 {
    margin: 0;
    font-size: 20px;
  }

  p {
    margin: 3px 0 0;
  }
}

.bill-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; 

  div {
    p {
      margin: 0;
    }

    strong {
      margin-bottom: 5px;
      display: block;
    }
  }

  .bill-info {
    text-align: right;
  }
}

.bill-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  border-bottom: 2px solid #948fe3;

  th, td {
    padding: 5px;
    text-align: left;
  }

  th {
    background: #948fe3;
    color: #fff;
  }

  .total {
    font-weight: bold;
  }
}

.bill-totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  

  .totals-container {
    width: 50%;
    background: #fff;
    padding: 5px;
    border-radius: 8px;
  }

  .total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;

    &.total {
      font-weight: bold;
      border-radius: 4px;
    }

    .label {
      margin-right: 10px;
    }

    .value {
      margin-left: auto;
    }
  }
}

.print-button {
  display: inline;
  padding: 10px 10px;
  margin: 5px;
  font-size: 14px;
  
  font-weight: bold;
  color: #fff;
  background-color: #948fe3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.print-button:hover {
  background-color: #7c72d3;
}