.container {
  margin: 20px;
 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
}

.custom-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.primary {
  color: #fff;
  background-color: #1976d2; 
}

.accent {
  color: #f4e3eb;
  background-color: #f5558a;
}

.warn {
  color: #fff;
  background-color: #ff5722; 
}

.header .title {
  font-size: 1.5em;
  font-weight: bold;
}

.header .actions button {
  margin-left: 10px;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary-item {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  background-color: #e0f7fa;
  border-radius: 5px;
  text-align: center;
}

.summary-item.paid {
  background-color: #a5d6a7;
}

.summary-item.unpaid {
  background-color: #ffccbc;
}

.summary-item.total {
  background-color: #fff9c4;
}

.summary-item .label {
  font-weight: bold;
}

.transactions {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.filters {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line if needed */
  align-items: center;
  gap: 20px; /* Add gap between flex items */
  margin-bottom: 20px; /* Adjust the margin bottom for overall spacing */
}

.date-picker {
  display: flex;
  align-items: center;
  gap: 20px; /* Add gap between elements */
}

.date-picker label {
  font-size: 16px;
  color: #333;
}

.date-picker button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #1976d2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.date-picker button:hover {
  background-color: #1565c0;
}

.mat-form-field {
  margin-right: 20px; /* Adjust the margin between form fields */
}

.graph-link {
  margin-left: auto;
}

.graph-link a {
  display: inline-block;
  padding: 8px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.graph-link img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Right-aligning price columns */
.transactions table th:nth-child(5),
.transactions table th:nth-child(6),
.transactions table th:nth-child(7),
.transactions table td:nth-child(5),
.transactions table td:nth-child(6),
.transactions table td:nth-child(7) {
  text-align: right;
}

.pagination-container {
 
  
  position: fixed;
  bottom:30px; 
  
}
