<div class="signup-container">
  <mat-card>
    <mat-card-title>Edit Category</mat-card-title>
    <form [formGroup]="editCategoryForm">
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Category Name</mat-label>
        <input matInput type="text" formControlName="name" required>
       
      </mat-form-field>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Tax Rate (In percentage)</mat-label>
        <input matInput type="number" formControlName="tax_rate" required>
        
          
      </mat-form-field>
      
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    </form>
  </mat-card>
</div>
