<div class="items-container">
  <!-- Header with options -->
  <header class="items-header">
    <div class="option" (click)="showSection('products')">Products</div>
    <div class="option" (click)="showSection('categories')">Categories</div>
    <!-- <div class="option" (click)="showSection('units')">Units</div> -->
  </header>

  <!-- Main content area -->
  <div class="items-content">
    <!-- Product Listing -->
    <div class="item-listing" *ngIf="selectedSection === 'products'">
      <div class="add-item">
        <button mat-button (click)="navigateToAddItem()">
          <mat-icon>add</mat-icon> Add Item
        </button>
      </div>
      
      <div class="search-bar">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="text" placeholder="Search" (input)="filterProducts($event)">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="product-items">
        <div class="product-item" *ngFor="let product of filteredProducts">
          <div class="item-info">
            <span>{{ product.name }}</span>
            <span>{{ product.stock }}</span>
            <span>{{ product.sale_price }}</span>
          </div>
          <mat-icon (click)="editProduct(product)">edit</mat-icon>
          <mat-icon (click)="deleteProduct(product)">delete</mat-icon>
        </div>
      </div>
      
    </div>

    <!-- Category Listing -->
    <div class="item-listing" *ngIf="selectedSection === 'categories'">
      <div class="add-item">
        <button mat-button (click)="addCategory()">
          <mat-icon>add</mat-icon> Add Category
        </button>
      </div>
      <div class="search-bar">
        <mat-form-field class="search-field" appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput type="text" placeholder="Search" (input)="filterCategories($event)">
          <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="product-items">
        <div class="product-item" *ngFor="let category of filteredCategories">
          <div class="item-info">
            <span>{{ category.name }}</span>
            <span>{{ category.tax_rate }}</span>
          </div>
          <mat-icon (click)="editCategory(category)">edit</mat-icon>
          <mat-icon (click)="deleteCategory(category)">delete</mat-icon>
        </div>
      </div>
    </div>

    <!-- Product Details -->
    <!-- <div class="product-details" *ngIf="selectedProduct">
      <h2 *ngIf="!isEditMode">{{ selectedProduct.name }}</h2>
      <p *ngIf="!isEditMode">Price: {{ selectedProduct.sale_price }}</p>
      <p *ngIf="!isEditMode">Stock: {{ selectedProduct.stock }}</p>
      <button *ngIf="!isEditMode" mat-raised-button color="primary" (click)="adjustItem(selectedProduct)">Adjust Item</button>
  
      <form *ngIf="isEditMode" [formGroup]="editForm" (ngSubmit)="saveChanges()">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Sale Price</mat-label>
          <input matInput formControlName="sale_price">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Stock</mat-label>
          <input matInput formControlName="stock">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-button type="button" (click)="isEditMode = false">Cancel</button>
      </form>
    </div> -->

    <div class="product-details" *ngIf="selectedProduct">
      <h2>{{ selectedProduct.name }}</h2>
      <p>Item Code: {{ selectedProduct.item_code }}</p>
      <p>Price: {{ selectedProduct.sale_price }}</p>
      <p>Stock: {{ selectedProduct.stock }}</p>
      <p>Category: {{ selectedProduct.category_name }}</p>
      <p>Unit: {{ selectedProduct.unit }}</p>
      <p>Discount: {{ selectedProduct.discount }}</p>
      <button mat-raised-button color="primary" (click)="openEditDialog(selectedProduct)">Adjust Item</button>
    </div>
    
  </div>
</div>