<div class="login-container">
  <mat-card>
    <h2 mat-card-title>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput type="text" [(ngModel)]="username" name="username" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
      </div>
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>
    </form>
    <div class="register-link">
      <a (click)="navigateToSignup()">Not registered yet? Sign up here</a>
    </div>
    <mat-progress-bar mode="indeterminate"  *ngIf="isLoading"></mat-progress-bar>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </mat-card>
</div>
