
<div class="container">
    <div class="section">
      <span>Parties</span>
      <button mat-button (click)="parties()">Go</button>
    </div>
    <div class="section">
      <span>Items</span>
      <button mat-button (click)="items()">Go</button>
    </div>
    <div class="section">
      <span>Quickbilling</span>
      <button mat-button (click)="quickbilling()">Go</button>
    </div>
    <div class="section">
      <span>Reports</span>
      <button mat-button (click)="report()">Go</button>
    </div>
  </div>
  