<div class="signup-container">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <form (submit)="onSubmit()">
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" [(ngModel)]="username" name="username" required>
      </mat-form-field>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required>
      </mat-form-field>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required>
      </mat-form-field>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput type="text" [(ngModel)]="phone" name="phone" required>
      </mat-form-field>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput type="text" [(ngModel)]="company_name" name="company_name" required>
      </mat-form-field>
      <mat-form-field class="form-group" appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput type="text" [(ngModel)]="location" name="location" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </form>
    <mat-progress-bar mode="indeterminate"  *ngIf="isLoading"></mat-progress-bar>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  </mat-card>
</div>
