<h2 mat-dialog-title>Edit Item</h2>
<div mat-dialog-content>
  <form [formGroup]="editForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sale Price</mat-label>
      <input matInput formControlName="sale_price">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>
