 <div class="add-party-container">   
    <mat-card>
        <mat-card-title>Payment Out</mat-card-title>
        <form [formGroup]="paymentForm" (ngSubmit)="savePaymentout()">
        <mat-form-field class="form-group" appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" type="number" required>
        </mat-form-field>
        <mat-form-field class="form-group" appearance="fill">
            <mat-label>Party</mat-label>
            <input matInput [formControl]="customerControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCustomer($event.option.value)">
            <mat-option (click)="openAddPartyDialog()">+ Add New Party</mat-option>

            <mat-option *ngFor="let option of filteredOptionsCustomer | async" [value]="option.name">
                {{ option.name }} - {{ option.phone }}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!paymentForm.valid">Save</button>
    </form>
    </mat-card>
 </div>
