<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{company_name}}</h1>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item routerLink="/dashboard/home" routerLinkActive="active" matTooltip="Home" matTooltipPosition="above">
          <mat-icon>home</mat-icon>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/parties" routerLinkActive="active" matTooltip="Parties" matTooltipPosition="above">
          <mat-icon>group</mat-icon>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/items" routerLinkActive="active" matTooltip="Items" matTooltipPosition="above">
          <mat-icon>inventory</mat-icon>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/quickbilling" routerLinkActive="active" matTooltip="QuickBilling" matTooltipPosition="above">
          <mat-icon>receipt</mat-icon>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard/reports" routerLinkActive="active" matTooltip="Reports" matTooltipPosition="above">
          <mat-icon>assessment</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
