.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-app-name {
  margin-left: 16px; /* Adjust margin to align with the menu icon */
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space items evenly */
  height: 64px; /* Explicitly set height */
}

.example-sidenav-container {
  flex: 1;
  margin-top: 64px; /* Ensure content starts below the toolbar */
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
  margin-top: 64px; /* Ensure content starts below the toolbar */
}

.mat-sidenav {
  width: 60px;
  background-color: #7e909a;
  color: white;
}

.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space items evenly */
  color: white;
  position: fixed; /* Fix the toolbar position */
  width: 100%; /* Full width */
  z-index: 2; /* Stay on top */
  height: 64px; /* Explicitly set height */
}

.left-content {
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.mat-nav-list {
  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 8px;
    }

    .plus-sign {
      margin-left: auto;
      margin-right: 5px;
      color: #28a745;
    }
  }

  .mat-list-item {
    &.active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.content {
  padding: 1rem;
}

.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Customize the backdrop color
::ng-deep .mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

// Optional: Remove the backdrop completely
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  opacity: 0 !important;
}
